@charset "UTF-8";


body{
    background-color: rosybrown;
    text-align: center;
    padding: 100px 100px 100px 100px;
}
nav{
    background-color: white;
    padding: 100px;
}


h1{
    color: rgb(0, 127, 238);}
h1:hover{
    color: antiquewhite;
}
    img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
img:hover{

    color: aqua;
}
.image{
    width: 100%;
    height: auto;
}
.image:hover{
transition: 1s;
color: aqua;

}
    
